.checkbox-item {
    display: flex;
    margin-bottom: 10px;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;

    &:checked+label:after {

        content: "";
        position: absolute;
        left: 4px;
        top: 50%;
        margin-top: -7px;
        background: #00d5b4;
        width: 14px;
        height: 14px;
        border-radius: 50%;
    }

    &+label {
        position: relative;
        cursor: pointer;
        margin: 0;
        word-break: break-word;
        display: flex;
        align-items: center;
        text-transform: capitalize;

        &:before {
            content: "";
            margin-right: 15px;
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            height: 20px;
            background: white;
            border-radius: 10px;
            border: 1px solid #808080;
        }
    }

}