.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.section {
    display: flex;   
    flex-direction: column;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    width: 1000px;
    height: 400px;
    overflow: hidden;

    &-header {
        padding: 15px;
        border-bottom: 1px solid #dee2e6;
        display: flex;
        width: 100%;
        font-weight: bold;
        box-sizing: border-box;
    }

    &-content {        
        display: flex;
        width: 100%;
        box-sizing: border-box;
        max-height: calc(100% - 49px);
    }
}